@page
@model JKCrafts.Pages.CustomerInfo.IndexModel
@{
}
<h2>User Information</h2>

<a class='btn btn-primary btn-sm' href='/CustomerInfo/Create'>New Customer</a>
<table border="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listuser)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.created_at</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Customerinfo/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-primary btn-sm" href="/Customerinfo/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
